<nav class="nav">
  <ul class="ulnav">
    <li class="linav"><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home </a></li>
    <li class="linav"><a id="admin" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Admin </a></li>
    <li class="linav"><a routerLink="/details" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Details </a></li>
    <li class="linav"><a routerLink="/checkout" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Checkout </a></li>
  </ul>
</nav>
